<span class="user-icon" [ngStyle]="{ width: size, height: size }">
  @if (iconURL || !iconAbbreviation) {
    <img
      [ngStyle]="{ height: size }"
      src="{{ iconURL || defaultIconURL }}"
      alt="User Icon"
    />
  }
  @if (!iconURL && !isReviewer && iconAbbreviation) {
    <span
      class="icon-abbreviation"
      [ngStyle]="{ width: size, height: size, fontSize: fontSize }"
      >{{ iconAbbreviation }}</span
    >
  }
  @if (!iconURL && isReviewer) {
    <span class="icon-abbreviation" [ngStyle]="{ width: size, height: size }">
      <mat-icon class="icon-abbreviation">star</mat-icon>
    </span>
  }
</span>
