.roi-container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid;

  .summary {
    display: flex;
    padding: 8px 16px;
    align-items: center;

    .creator {
      margin-right: 8px;
      border-radius: 6px;
      display: flex;

      &.filterable:hover {
        outline: 2px solid yellow;
        cursor: pointer;
      }

      img {
        width: 28px;
        border-radius: 4px;
      }

      .name-abbreviation {
        width: 28px;
        border-radius: 4px;
        height: 28px;

        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--clr-gray-60));
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      h4,
      p {
        margin: 0;
      }

      .metadata-line {
        display: flex;
        .level-dots {
          display: flex;
          align-items: center;
          margin-right: 8px;

          .level-dot {
            width: 6px;
            height: 6px;
            background: rgb(var(--clr-gray-60));
            border-radius: 50%;
            margin: 0 1px;

            &.filled {
              background: rgb(var(--clr-gray-30));
            }
          }
        }
      }
    }

    .current-shape {
      margin-left: auto;
    }

    .buttons {
      display: flex;

      &.unconfigured-display {
        margin-left: auto;
      }

      .show-details-btn {
        margin-left: 0;
      }

      & > * {
        margin-left: 8px;
      }

      tag-picker {
        z-index: 10;
        display: flex;
        align-items: center;
      }
    }

    .selection-button {
      margin-left: 8px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .details-container {
      width: 100%;

      .overview {
        padding: 8px;
        color: rgb(var(--clr-gray-10));
        border-bottom: 1px solid rgb(var(--clr-gray-80));
        background-color: rgb(var(--clr-gray-90));
        display: flex;
        align-items: center;

        h5 {
          margin: 0;
          margin-right: auto;
          color: rgb(var(--clr-gray-10));
        }

        .right-btns {
          display: flex;
          align-items: center;

          :first-child {
            margin-right: 4px;
          }
        }
      }

      .pixel-list {
        .header-details {
          padding: 8px;
        }

        h5 {
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: rgb(var(--clr-gray-30));
        }

        .selection-btns {
          display: flex;
          flex-direction: column;

          push-button {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.roi-settings {
  display: flex;

  .settings-buttons {
    display: flex;
    align-items: center;

    > * {
      margin-right: 8px;
    }

    > :last-child {
      margin-right: 0;
    }
  }
}

.roi-edit {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 400px;

  header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .title {
      font:
        700 18px/24px Roboto,
        monospace;
    }

    tag-picker {
      margin-left: auto;
    }
  }

  input,
  textarea {
    margin-bottom: 8px;
  }

  .buttons {
    display: flex;
    margin-left: auto;
    margin-top: 8px;

    :first-child {
      margin-right: 8px;
    }
  }
}

.page-controls {
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.scan-entries {
  .header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(var(--clr-gray-60));

    .rtt-label {
      margin-left: 16px;
      padding: 8px 0;
      color: rgb(var(--clr-gray-30));
    }

    .entry-count {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 8px;
      color: rgb(var(--clr-gray-30));
      font-size: 12px;
    }

    action-button {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  .scan-entries-container {
    height: 200px;
    overflow: hidden;

    .scan-entries-viewport {
      height: 100%;
    }

    .entry-idx-container {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid rgb(var(--clr-gray-60));

      cursor: pointer;
      &:hover {
        background-color: #454c50;
      }

      .entry-idx {
        display: flex;
        flex: 1;
        color: rgb(var(--clr-gray-30));
        margin-left: 16px;
      }

      action-button {
        margin-right: 16px;
      }
    }
  }
}

.roi-color-picker {
  h2 {
    font-size: 12px;
    margin-left: 8px;
    line-height: 12px;
    margin-right: 8px;
    margin-bottom: 8px;

    &.additional-colors {
      margin-top: 16px;
    }
  }

  .color-container {
    display: flex;
    flex-wrap: wrap;

    .color-option {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.selected {
        border-radius: 50%;
      }

      .active-color {
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 4px);

        background-color: white;

        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
  }

  .color-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    mat-radio-button {
      height: 30px;
      margin-right: 8px;
    }
  }

  .bottom-buttons {
    margin-top: 16px;
  }
}

.roi-shape-picker {
  h2 {
    font-size: 12px;
    margin-left: 8px;
    line-height: 12px;
  }

  .shape-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    mat-radio-button {
      margin-right: 8px;
    }
  }

  .bottom-buttons {
    margin-top: 8px;
  }
}

.custom-select-picker {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 8px;

  .option-section {
    margin-bottom: 8px;

    h2 {
      color: rgb(var(--clr-gray-30));
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
    }
  }

  .bottom-buttons {
    margin-top: 8px;
  }
}

.lock-icon {
  img {
    width: 12px;
  }
}
