<ng-template #customSelectDialog>
  <div class="custom-select-picker">
    <div *ngFor="let section of selectionOptions" class="option-section">
      <h2>{{ section.title }}</h2>
      <span class="checkbox-group" *ngFor="let option of section.options">
        <two-state-icon-button
          activeIcon="assets/button-icons/check-on.svg"
          inactiveIcon="assets/button-icons/check-off.svg"
          class="checkbox-button"
          [active]="selectedOptions.includes(option.value)"
          (onToggle)="onToggleCustomSelect(option.value)">
        </two-state-icon-button>
        <span>{{ option.title }}</span>
      </span>
    </div>
    <div class="bottom-buttons">
      <push-button buttonStyle="outline" title="Clear Selection" (onClick)="clearCustomSelection()">Clear</push-button>
    </div>
  </div>
</ng-template>

<ng-template #roiShapePicker>
  <div class="roi-shape-picker">
    <h2>Shapes</h2>
    <mat-radio-group class="shape-group" [(ngModel)]="shape">
      <mat-radio-button *ngFor="let option of shapeOptions" [value]="option" class="shape-option" labelPosition="after">
        <roi-shape [scale]="2" [color]="colour.colour || '#fff'" [shape]="option"></roi-shape>
      </mat-radio-button>
    </mat-radio-group>
    <div class="bottom-buttons">
      <push-button buttonStyle="outline" title="Clear Shape" (onClick)="clearShape()">Clear</push-button>
    </div>
  </div>
</ng-template>

<ng-template #roiColorPicker>
  <div class="roi-color-picker">
    <h2>Colour Blind Safe</h2>
    <div class="color-container">
      <div
        class="color-option {{ selectedColour === option.colour ? 'selected' : '' }}"
        *ngFor="let option of colourBlindSafeOptions"
        [ngStyle]="{ 'background-color': selectedColour === option.colour ? semiTransparentSelectedColour : '' }"
        (click)="onSelectColour(option)">
        <roi-shape [scale]="4" [color]="option.colour" [borderColor]="selectedColour === option.colour ? '#fff' : ''" shape="circle"></roi-shape>
        <div *ngIf="selectedColour === option.colour" class="active-color"></div>
      </div>
    </div>
    <h2 class="additional-colors">Additional Colours</h2>
    <div class="color-container">
      <div
        class="color-option {{ selectedColour === option.colour ? 'selected' : '' }}"
        *ngFor="let option of additionalColorOptions"
        [ngStyle]="{ 'background-color': selectedColour === option.colour ? semiTransparentSelectedColour : '' }"
        (click)="onSelectColour(option)">
        <roi-shape [scale]="4" [color]="option.colour" [borderColor]="selectedColour === option.colour ? '#fff' : ''" shape="circle"></roi-shape>
        <div *ngIf="selectedColour === option.colour" class="active-color"></div>
      </div>
    </div>
    <div class="bottom-buttons">
      <push-button buttonStyle="outline" title="Clear Color" (onClick)="clearColour()">Clear</push-button>
    </div>
  </div>
</ng-template>

<ng-template #roiSettingsMenu>
  <div class="roi-settings">
    <div class="settings-buttons">
      <action-button title="Delete this ROI" action="delete" confirmText="Are you sure you want to delete ROI: {{ name }}?" (onClick)="onDelete()"> </action-button>
      <share-ownership-item-button *ngIf="canEdit" [id]="summary?.id || ''" [type]="objectType" [ownershipSummary]="summary?.owner || null">
      </share-ownership-item-button>
      <widget-settings-menu [settingsDialog]="roiShapePicker" #roiShapePickerButton>
        <icon-button title="Configure Shapes" icon="assets/button-icons/shapes.svg"> </icon-button>
      </widget-settings-menu>
      <widget-settings-menu [settingsDialog]="roiColorPicker" #roiColorPickerButton>
        <icon-button title="Configure Colours" icon="assets/button-icons/colours.svg"></icon-button>
      </widget-settings-menu>
    </div>
    <!-- <slider title="Opacity" [value]="opacity" [minValue]="0" [maxValue]="1" (onChange)="onChangeOpacity($event)"> -->
    <!-- </slider> -->
  </div>
</ng-template>

<ng-template #editROIMenu>
  <div class="roi-edit">
    <header>
      <h1 class="title">Edit ROI</h1>
      <tag-picker
        type="roi"
        placeholderText="Search ROI Tags ..."
        [selectedTagIDs]="selectedTagIDs"
        [showCurrentTagsSection]="true"
        [editable]="summary.owner?.canEdit || false"
        (onTagSelectionChanged)="onTagSelectionChanged($event)">
      </tag-picker>
    </header>

    <input type="text" class="name" [(ngModel)]="name" placeholder="ROI Name" />
    <textarea class="description" [(ngModel)]="description" placeholder="ROI Description" rows="4"></textarea>

    <div class="buttons">
      <push-button buttonStyle="outline" (onClick)="onCancelEdit()" title="Cancel editing this ROI">Cancel</push-button>
      <push-button buttonStyle="yellow" (onClick)="onSaveEdit()" title="Save changes to this ROI">Save</push-button>
    </div>
  </div>
</ng-template>

<div
  class="roi-container"
  [ngStyle]="{
    'border-left-color': colour.colour,
    'border-left-width': colour.colour ? '4px' : '0',
    'border-bottom': lightVariant ? '1px solid rgb(var(--clr-gray-80))' : '1px solid rgb(var(--clr-gray-70))'
  }">
  <div
    class="summary"
    [ngStyle]="{
      'background-color': lightVariant
        ? selected
          ? 'rgb(var(--clr-gray-60))'
          : 'rgb(var(--clr-gray-70))'
        : selected
        ? 'rgb(var(--clr-gray-70))'
        : 'rgb(var(--clr-gray-80))'
    }">
    <two-state-icon-button
      *ngIf="isSelectable && !rightSelection && !isSubItemSelectionEnabled"
      toolTip="Toggle ROI"
      [activeIcon]="isSingleSelect ? 'assets/button-icons/radio-on.svg' : 'assets/button-icons/check-on.svg'"
      [inactiveIcon]="isSingleSelect ? 'assets/button-icons/radio-off.svg' : 'assets/button-icons/check-off.svg'"
      class="checkbox-button"
      [active]="selected"
      (onToggle)="onCheckboxClick($event)">
    </two-state-icon-button>
    <div
      *ngIf="showCreatorIcon"
      class="creator {{ selectAuthorToFilter ? 'filterable' : '' }}"
      #tooltip="matTooltip"
      (click)="filterToAuthor()"
      matTooltip="Creator: {{ creatorName || 'N/A' }} {{ selectAuthorToFilter && creatorName ? '\n\n(Click to filter)' : '' }}">
      <img *ngIf="icon" [src]="icon" />
      <span *ngIf="!icon" class="name-abbreviation">{{ creatorAbbreviation }}</span>
    </div>
    <div
      class="info"
      #tooltip="matTooltip"
      matTooltipClass="multiline-tooltip"
      [matTooltip]="name + (description ? '\n\n' + description : '') + (createdDate > 0 ? '\n\nCreated: ' + dateCreatedString : '')">
      <h4>
        {{ name }}
        <span *ngIf="!canEdit" class="lock-icon" #tooltip="matTooltip" matTooltip="You are not an editor of this ROI.">
          <img src="assets/button-icons/lock.svg" />
        </span>
      </h4>
      <span *ngIf="summary.isMIST || createdDate > 0" class="metadata-line" title="Level">
        <div *ngIf="summary.isMIST" class="level-dots" title="Level">
          <div class="level-dot {{ hasLevel ? 'filled' : '' }}" *ngFor="let hasLevel of mistLevels"></div>
        </div>
        <p [ngStyle]="{ color: lightVariant ? 'rgb(var(--clr-gray-50))' : 'rgb(var(--clr-gray-60))' }">{{ createdDate | date: "dd/MMM/yy" }}</p>
      </span>
    </div>
    <roi-shape *ngIf="displayConfigured" class="current-shape" [color]="colour.colour || '#fff'" [shape]="shape || 'circle'"></roi-shape>
    <div class="buttons {{ displayConfigured ? '' : 'unconfigured-display' }}">
      <share-ownership-item-button *ngIf="canEdit && colorChangeOnly" [id]="summary?.id || ''" [type]="objectType" [ownershipSummary]="summary?.owner || null">
      </share-ownership-item-button>
      <widget-settings-menu *ngIf="!colorChangeOnly" [settingsDialog]="roiSettingsMenu" #settingsButton>
        <icon-button title="Show Settings Menu" [hasBackground]="false" icon="assets/button-icons/settings-gray.svg"> </icon-button>
      </widget-settings-menu>
      <tag-picker
        type="roi"
        placeholderText="Search ROI Tags ..."
        [selectedTagIDs]="selectedTagIDs"
        [showCurrentTagsSection]="true"
        [editable]="summary.owner?.canEdit || false"
        (onTagSelectionChanged)="onTagSelectionChanged($event)">
      </tag-picker>
      <widget-settings-menu *ngIf="colorChangeOnly" [settingsDialog]="roiShapePicker" #roiShapePickerButton>
        <icon-button title="Configure Shapes" icon="assets/button-icons/shapes.svg"> </icon-button>
      </widget-settings-menu>
      <widget-settings-menu *ngIf="colorChangeOnly" [settingsDialog]="roiColorPicker" #roiColorPickerButton>
        <icon-button title="Configure Colours" icon="assets/button-icons/colours.svg"> </icon-button>
      </widget-settings-menu>
      <two-state-icon-button
        *ngIf="showVisibilityButton"
        toolTip="Toggle visibility on Context Image"
        activeIcon="assets/button-icons/visible-on-yellow.svg"
        inactiveIcon="assets/button-icons/visible-off.svg"
        [active]="isVisible"
        (onToggle)="onVisibility($event)"></two-state-icon-button>
      <icon-button
        class="show-details-btn"
        *ngIf="showDetailsButton"
        [icon]="showDetails ? 'assets/button-icons/arrow-down.svg' : 'assets/button-icons/arrow-right.svg'"
        [hasBackground]="false"
        (click)="onToggleDetails()"
        title="Toggle showing ROI details"></icon-button>
    </div>
    <two-state-icon-button
      *ngIf="isSelectable && rightSelection && !isSubItemSelectionEnabled"
      toolTip="Toggle ROI"
      activeIcon="assets/button-icons/check-on.svg"
      inactiveIcon="assets/button-icons/check-off.svg"
      class="checkbox-button"
      [active]="selected"
      (onToggle)="onCheckboxClick($event)">
    </two-state-icon-button>
    <push-button *ngIf="selectionLabel && isSubItemSelectionEnabled" class="selection-button" [customDialog]="customSelectDialog">{{ selectionLabel }}</push-button>
  </div>
  <div *ngIf="showDetails" class="details">
    <wait-spinner *ngIf="!showDetails"></wait-spinner>
    <div *ngIf="detailedInfo" class="details-container">
      <div class="overview">
        <h5>{{ scanEntryCount }} PMCs, {{ pixelCount }} pixels</h5>

        <div class="right-btns">
          <push-button>Select</push-button>
          <action-button action="edit-clipboard" [customDialog]="editROIMenu" #editROIButton></action-button>
          <icon-button
            [icon]="showScanEntryPoints ? 'assets/button-icons/arrow-down.svg' : 'assets/button-icons/arrow-right.svg'"
            [hasBackground]="false"
            (click)="onToggleScanEntryPoints()"
            title="Toggle showing ROI details"></icon-button>
        </div>
      </div>
      <div *ngIf="showScanEntryPoints" class="pixel-list">
        <div class="header-details">
          <h5
            #tooltip="matTooltip"
            matTooltip="ROI pixels were selected from image: {{ detailedInfo.imageName || 'N/A' }}"
            [matTooltipDisabled]="!detailedInfo.imageName">
            Image: {{ detailedInfo.imageName || "N/A" }}
          </h5>
          <div class="selection-btns">
            <push-button buttonStyle="outline" title="Saves the selected Scan Entries into this ROI, overwriting previous Scan Entry list"
              >Save Selection to ROI</push-button
            >
            <push-button buttonStyle="outline" title="Adds pixels within bounding polygons of Scan Entry points to ROI">Add RGBU Pixels to ROI</push-button>
          </div>
        </div>
        <div class="scan-entries" *ngFor="let scanId of scanIds">
          <span class="header">
            <span class="rtt-label">RTT: {{ scanId }}</span>
            <span class="entry-count">{{ scanEntryIndicesByDataset[scanId].length }} PMCs</span>
            <action-button [action]="openScanIdxs.has(scanId) ? 'closeAccordion' : 'openAccordion'" (click)="onToggleScanMenu(scanId)"></action-button>
          </span>
          <div *ngIf="openScanIdxs.has(scanId)" class="scan-entries-container">
            <cdk-virtual-scroll-viewport [itemSize]="29" class="scan-entries-viewport">
              <div
                *cdkVirtualFor="let entryIdx of scanEntryIndicesByDataset[scanId]"
                class="entry-idx-container"
                [ngClass]="{ 'pmc-highlight': entryIdx >= 0 && entryIdx === hoverIndex }"
                (mouseenter)="onScanEntryIdxEnter(scanId, entryIdx)"
                (mouseleave)="onScanEntryIdxLeave(scanId)">
                <div class="entry-idx">{{ entryIdx }}</div>
                <action-button
                  *ngIf="entryIdx >= 0"
                  action="close"
                  color="rgb(188, 188, 188)"
                  (onClick)="onDeleteScanEntryIdx(entryIdx)"
                  [disabled]="scanEntryIndicesByDataset[scanId].length === 1"
                  [tooltipTitle]="scanEntryIndicesByDataset[scanId].length === 1 ? 'Cannot delete the last PMC' : 'Delete PMC'"></action-button>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
