.roi-container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid;

  .summary {
    display: flex;
    padding: 8px 16px;
    align-items: center;

    .creator {
      margin-right: 8px;
      border-radius: 6px;
      display: flex;

      &.filterable:hover {
        outline: 2px solid yellow;
        cursor: pointer;
      }

      img {
        width: 28px;
        border-radius: 4px;
      }

      .name-abbreviation {
        width: 28px;
        border-radius: 4px;
        height: 28px;

        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--clr-gray-60));
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      h4,
      p {
        margin: 0;
      }

      .metadata-line {
        display: flex;
        .level-dots {
          display: flex;
          align-items: center;
          margin-right: 8px;

          .level-dot {
            width: 6px;
            height: 6px;
            background: rgb(var(--clr-gray-60));
            border-radius: 50%;
            margin: 0 1px;

            &.filled {
              background: rgb(var(--clr-gray-30));
            }
          }
        }
      }
    }

    .current-shape {
      margin-left: auto;
    }

    .buttons {
      display: flex;
      align-items: center;

      &.unconfigured-display {
        margin-left: auto;
      }

      .show-details-btn {
        margin-left: 0;
      }

      & > * {
        margin-left: 8px;
      }

      tag-picker {
        z-index: 10;
        display: flex;
        align-items: center;
      }
    }

    .selection-button {
      margin-left: 8px;
    }
  }
}

.page-controls {
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.custom-select-picker {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 8px;

  .option-section {
    margin-bottom: 8px;

    h2 {
      color: rgb(var(--clr-gray-30));
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
    }
  }

  .bottom-buttons {
    margin-top: 8px;
  }
}

.lock-icon {
  img {
    width: 12px;
  }
}

.custom-roi-delete {
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}