.roi-container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid;
  // border-bottom: 1px solid rgb(var(--clr-gray-70));

  .summary {
    display: flex;
    // background-color: rgb(var(--clr-gray-80));
    padding: 8px 16px;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;

      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      h4,
      p {
        margin: 0;
      }

      // p {
      //   color: rgb(var(--clr-gray-60));
      // }
    }

    .buttons {
      display: flex;
      margin-left: auto;

      tag-picker {
        z-index: 10;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .details-container {
      width: 100%;

      .overview {
        padding: 8px;
        color: rgb(var(--clr-gray-10));
        border-bottom: 1px solid rgb(var(--clr-gray-80));
        background-color: rgb(var(--clr-gray-90));
        display: flex;
        align-items: center;

        h5 {
          margin: 0;
          margin-right: auto;
          color: rgb(var(--clr-gray-10));
        }

        .right-btns {
          display: flex;
          align-items: center;

          :first-child {
            margin-right: 4px;
          }
        }
      }

      .pixel-list {
        .header-details {
          padding: 8px;
        }

        h5 {
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: rgb(var(--clr-gray-30));
        }

        .selection-btns {
          display: flex;
          flex-direction: column;

          push-button {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.roi-settings {
  display: flex;

  .settings-buttons {
    display: flex;
    align-items: center;

    icon-button,
    action-button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.roi-edit {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 400px;

  header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .title {
      font:
        700 18px/24px Roboto,
        monospace;
    }

    tag-picker {
      margin-left: auto;
    }
  }

  input,
  textarea {
    margin-bottom: 8px;
  }

  .buttons {
    display: flex;
    margin-left: auto;
    margin-top: 8px;

    :first-child {
      margin-right: 8px;
    }
  }
}

.page-controls {
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.scan-entries {
  .header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(var(--clr-gray-60));

    .rtt-label {
      margin-left: 16px;
      padding: 8px 0;
      color: rgb(var(--clr-gray-30));
    }

    .entry-count {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 8px;
      color: rgb(var(--clr-gray-30));
      font-size: 12px;
    }

    action-button {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  .scan-entries-container {
    height: 200px;
    overflow: scroll;

    .scan-entries-viewport {
      height: 100%;
    }

    .entry-idx-container {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid rgb(var(--clr-gray-60));

      &:hover {
        background-color: rgb(var(--clr-gray-80));
      }

      .entry-idx {
        display: flex;
        flex: 1;
        color: rgb(var(--clr-gray-30));
        margin-left: 16px;
      }

      action-button {
        margin-right: 16px;
      }
    }
  }
}
