.channel-selection {
    display: flex;
    justify-content: center;

    .channel-divider {
        margin: 5px;
    }

    .mat-select:last-of-type {
        margin-left: 0;
    }
}

.range-selection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    > div {
        display: flex;
        align-items: center;

        .label {
            margin-right: 6px;
        }
    }

    input {
        width: 50px;
    }
}

.options {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;

    push-button:first-of-type {
        margin-right: 6px;
    }
}