.export-dialog {
  width: inherit !important;

  margin-left: 8px;

  border-left: 1px solid #000;
  background-color: #222829;
  height: 100%;
  border-top-right-radius: 8px;

  padding: 8px !important;

  h1 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 14px;
    margin-bottom: 8px;
    text-transform: none;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px 8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    color: white;
  }

  .export-options {
    .options-label-container {
      padding: 8px !important;
      margin-left: -8px !important;
      background-color: rgb(27, 29, 30) !important;
    }
  }
}

.loading-container {
  position: relative;
  justify-content: center;

  left: 0;
  background: #2a3137e0;
  width: 100%;
  justify-content: flex-start;
  z-index: 10;
}

.options {
  .options-container {
    max-height: 294px;
    overflow-y: auto;

    // This ensures count bubble is not cut off
    padding-right: 6px;
    margin-right: -6px;
  }
}
