.export-dialog {
  width: inherit !important;

  h1 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 14px;
    margin-bottom: 8px;
    text-transform: none;
  }
}

.loading-container {
  position: absolute;
  justify-content: center;

  left: 0;
  background: #2a3137e0;
  width: 100%;
  justify-content: flex-start;
  z-index: 10;
}

.options {
  .options-container {
    max-height: 294px;
    overflow-y: auto;

    // This ensures count bubble is not cut off
    padding-right: 6px;
    margin-right: -6px;
  }
}
