@import "variables.scss";

.page {
    display: flex;
    flex-direction: row;
    gap: $sz-unit;

    min-height: 100%;
    min-width: 100%;
    width: 100%;

    height: calc(100vh - 55px);

    .list-pane {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        //justify-content: flex-end;
        
        overflow-y: auto;
        height: calc(100vh - 55px);
        width: 30vw;
        min-width: 350px !important;

        //height: 100%;
    
        // flex-grow: 1;
        // flex-shrink: 1;
        // flex-basis: 1e-9px;

        .top-tabs {
            display: flex;
            flex-direction: row;
            gap: $sz-half;

            color: $clr-gray-30;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;

            .tab {
                display: flex;
                flex-direction: row;
                padding: $sz-unit $sz-double $sz-half;

                border-top-left-radius: $sz-half;
                border-top-right-radius: $sz-half;
                border-color: $clr-gray-60;
                border-width: 1px;
                border-style: solid;
                border-bottom: transparent;
            }

            .selected {
                color: $clr-gray-10;
                background-color: $clr-gray-80;
            }
        }
    }

    .info-pane {
        flex: 1;
        background-color: $clr-gray-90;

        overflow-y: scroll;
        height: calc( 100vh - 55px);

        .req-error {
            color: $clr-orange;
            text-align: center;
            padding: $sz-unit;
        }
    }
}
