<ng-template class="top-toolbar" #overflowSection>
    <span *ngFor="let button of widgetConfiguration?.controlConfiguration?.topToolbar"
        class="menu-btn-container {{!button._overflowed ? 'overflowed' : ''}}">
        <icon-button *ngIf="['button', 'selectable-button'].includes(button.type) && button.icon"
            [state]="button.type === 'selectable-button' && button.value ? 1 : button.disabled ? 3 : 0"
            [title]="button.title" class="{{button.type}}" [icon]="button.icon"
            (onClick)="button.onClick(button.value)"></icon-button>
    </span>
</ng-template>

<div class="widget">
    <header>
        <mat-select [(ngModel)]="activeWidget" #tooltip="matTooltip"
            [matTooltip]="widgetConfiguration?.description || ''"
            [matTooltipDisabled]="!widgetConfiguration?.description" matTooltipPositionAtOrigin="false">
            <mat-option *ngFor="let widget of allWidgetOptions" [value]="widget.id">
                <div class="widget-select">
                    <span>{{widget.name}}</span>
                </div>
            </mat-option>
        </mat-select>

        <div class="buttons" #buttonsContainer>
            <div class="top-toolbar" #topToolbar>
                <span *ngFor="let button of widgetConfiguration?.controlConfiguration?.topToolbar"
                    class="btn-container {{button._overflowed || button._overflowed === undefined ? 'overflowed' : ''}}">
                    <icon-button *ngIf="['button', 'selectable-button'].includes(button.type) && button.icon"
                        [state]="button.type === 'selectable-button' && button.value ? 1 : button.disabled ? 3 : 0"
                        [title]="button.title" class="{{button.type}}" [icon]="button.icon"
                        (onClick)="button.onClick(button.value)"></icon-button>
                </span>
            </div>
            <widget-settings-menu [settingsDialog]="settingsMenu" [overflowSection]="overflowSection" #settingsButton>
                <icon-button title="Show Settings Menu" icon="assets/button-icons/settings.svg">
                </icon-button>
            </widget-settings-menu>
        </div>
    </header>
    <div class="visualization">
        <ng-template #currentWidget></ng-template>
    </div>
</div>