<div class="footer">
    <join-the-community></join-the-community>
    <branding-logos *ngIf="showLogos"></branding-logos>
    <div class="flex-row links">
        <div class="logo-group">
            <div><a href="/"><img src="assets/images/pixlise-white-logo.svg"></a></div>
            <div class="tagline">Experience the future of spectroscopy visualization and analysis.</div>
            <div class="credits">Image Credits:</div>
            <div class="tagline">NASA/JPL-Caltech/University of Arizona</div>
        </div>
        <div class="flex-row link-groups">
            <a href="login"><div class="caption">Log In</div></a>
            <div class="flex-column">
                <div class="caption">Product</div>
                <a href="workflow">Workflow</a>
                <a href="quantification">Quantification</a>
                <a href="investigation">Investigation</a>
            </div>
            <div class="flex-column">
                <div class="caption">Resources</div>
                <a href="start-guide">Start Guide</a>
                <a href="tutorials">Tutorials</a>
                <a href="release-notes">Release Notes</a>
                <a href="documentation">Documentation</a>
                <a href="repository">Repository</a>
            </div>
            <div class="flex-column">
                <div class="caption">Community</div>
                <a href="about-us">About Us</a>
                <a href="impact">Impact</a>
                <a href="get-involved">Get Involved</a>
                <a href="discuss.pixlise.org" target="_blank">Discussion</a>
            </div>
        </div>
    </div>
</div>