<div class="footer">
    <join-the-community></join-the-community>
    <branding-logos *ngIf="showLogos"></branding-logos>
    <div class="flex-row links">
        <div class="logo-group">
            <div><a href="/"><img src="assets/images/pixlise-white-logo.svg"></a></div>
            <div class="tagline">Experience the future of spectroscopy visualization and analysis.</div>
            <div class="credits">Image Credits:</div>
            <div class="tagline">NASA/JPL-Caltech/University of Arizona</div>
        </div>
        <div class="flex-row link-groups">
            <div class="caption clickable" (click)="onLogin()">Log In</div>
            <div class="flex-column">
                <div class="caption">Features</div>
                <a href="public/workflow">Workflow</a>
                <a href="public/quantification">Quantification</a>
                <a href="public/investigation">Investigation</a>
            </div>
            <div class="flex-column">
                <div class="caption">Get Started</div>
                <a href="start-options">PIXLISE Options</a>
                <a href="start-get">Get PIXLISE</a>
                <a href=" documentation">Documentation</a>
                <a href="https://www.github.com/pixlise" target="_blank">Repository</a>
            </div>
            <div class="flex-column">
                <div class="caption">About Us</div>
                <a href="about-us">PIXL + MARS 2020</a>
                <a href="impact">Impact</a>
                <a href="discuss.pixlise.org" target="_blank">Discussion</a>
            </div>
        </div>
    </div>
</div>