.roi-container {
  .panel-row {
    margin: 8px;
  }
}

.new-roi {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 400px;

  header {
    display: flex;
    align-items: center;

    margin-bottom: 8px;

    .title {
      font:
        700 18px/24px Roboto,
        monospace;
    }

    tag-picker {
      margin-left: auto;
    }
  }

  input,
  textarea {
    margin-bottom: 8px;
  }

  .buttons {
    display: flex;
    margin-left: auto;
    margin-top: 8px;

    :first-child {
      margin-right: 8px;
    }
  }
}

roi-search-controls {
  display: flex;
  overflow: hidden;
  // padding: 0 6px;

  transition: all 0.1s ease;
  height: 0;

  &.visible {
    height: 82px;
  }
}
