@import "variables.scss";
@import "cursors.scss";

.roi-container {
  margin-left: 8px;
  border-left: 1px solid #000;
  background-color: #222829;
  height: 100%;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: 1px solid #000;
    padding: 8px 8px 8px 0px;
    gap: 8px;

    h5 {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      margin-left: 8px;

      user-select: none;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .panel-row {
    margin: 8px;
  }

  .widget-selectors {
    display: flex;
    width: 100%;

    mat-select {
      flex: 1;
      margin: 0 8px;
    }
  }
}

.new-roi {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 600px;

  header {
    display: flex;
    align-items: center;

    .title {
      font:
        700 18px/24px Roboto,
        monospace;
    }

    tag-picker {
      margin-left: auto;
    }
  }

  .meta-line {
    color: rgb(var(--clr-gray-30));
    margin-bottom: 8px;
  }

  .multiple-scan-warning {
    font-style: italic;
    color: rgb(var(--clr-yellow));
  }

  input,
  textarea {
    margin-bottom: 8px;
  }

  .buttons {
    display: flex;
    margin-left: auto;
    margin-top: 8px;

    :first-child {
      margin-right: 8px;
    }
  }
}

roi-search-controls {
  display: flex;
  overflow: hidden;

  transition: all 0.1s ease;
  height: 0;

  &.visible {
    height: 82px;
  }
}

.rois {
  height: calc(100vh - 40px - 40px - 122px);

  &.search-controls-visible {
    // height: calc(100vh - 40px - 40px - 134px);
    height: calc(100vh - 40px - 40px - 122px);
  }

  .rois-viewport {
    height: 100%;
    width: 100%;
  }
}

.bulk-controls {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(68, 76, 80);
  color: rgb(190, 192, 194);
  border-bottom: 1px solid rgb(68, 76, 80);
  padding: 4px;

  .count {
    margin-left: 16px;
  }

  .visible-toggle {
    margin-left: auto;
    margin-right: 48px;
  }
}
