@if (template?.layout?.widgets && template?.screenConfiguration) {
  <div
    class="layout-preview"
    [ngStyle]="{
      'grid-template-columns': template!.screenConfiguration.templateColumns,
      'grid-template-rows': template!.screenConfiguration.templateRows,
    }"
  >
    @for (widget of template!.layout.widgets; track widget) {
      <div
        #tooltip="matTooltip"
        matTooltip="{{ getWidgetName(widget.type) }}"
        class="widget-preview"
        [ngStyle]="{
          'grid-column-start': widget.startColumn,
          'grid-column-end': widget.endColumn,
          'grid-row-start': widget.startRow,
          'grid-row-end': widget.endRow,
        }"
      >
        @if (widget.type && getWidgetIconUrl(widget.type)) {
          <img [src]="getWidgetIconUrl(widget.type)" />
        }
        @if (widget.type && !getWidgetIconUrl(widget.type)) {
          <span class="widget-name-placeholder">{{
            getWidgetNamePlaceholder(widget.type)
          }}</span>
        }
      </div>
    }
  </div>
}
@if (!template?.layout?.widgets || !template?.screenConfiguration) {
  <div class="layout-preview">
    <div class="no-layout">No layout available</div>
  </div>
}
