<div class="settings-container">
    <!-- TODO: <notification-banner></notification-banner> -->
    <app-toolbar titleToShow="Settings"></app-toolbar>
    <div class="settings">
        <section class="user-section">
            <h2>User Info</h2>
            <div class="user-info">
                <img *ngIf="user !== null" class="user-icon" src="{{user.iconURL}}">
                <div class="user-fields">
                    <div class="user-field">
                        <input [(ngModel)]="userName" class="username" type="text" autocomplete="off"
                            data-lpignore="true" placeholder="User Name">
                        <span class="buttons">
                            <action-button action="check" [disabled]="!userNameChanged" tooltipTitle="Confirm"
                                (onClick)="onConfirmUserName()"></action-button>
                            <action-button action="close" [disabled]="!userNameChanged" tooltipTitle="Reset"
                                (onClick)="onResetUserName()"></action-button>
                        </span>
                    </div>
                    <div class="user-field">
                        <input [(ngModel)]="userEmail" class="userEmail" type="text" autocomplete="off"
                            data-lpignore="true" placeholder="Email">
                        <span class="buttons">
                            <action-button action="check" [disabled]="!userEmailChanged" tooltipTitle="Confirm"
                                (onClick)="onConfirmUserEmail()"></action-button>
                            <action-button action="close" [disabled]="!userEmailChanged" tooltipTitle="Reset"
                                (onClick)="onResetUserEmail()"></action-button>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="notifications">
            <h2>Notifications</h2>
            <div class="notifications-list">
                <div *ngFor="let notification of notifications" class="notification-item">
                    <span class="title">{{notification.label}}</span>
                    <span class="checkboxes">
                        <span class="checkbox-label">UI</span>
                        <two-state-icon-button class="notification-checkbox"
                            activeIcon="assets/button-icons/check-on.svg"
                            inactiveIcon="assets/button-icons/check-off.svg" [active]="notification.method.ui"
                            (onToggle)="onToggleNotification(notification, 'ui')">
                        </two-state-icon-button>
                        <span class="checkbox-label">Email</span>
                        <two-state-icon-button class="notification-checkbox"
                            activeIcon="assets/button-icons/check-on.svg"
                            inactiveIcon="assets/button-icons/check-off.svg" [active]="notification.method.email"
                            (onToggle)="onToggleNotification(notification, 'email')">
                        </two-state-icon-button>
                    </span>
                </div>
            </div>
        </section>
        <section class="data-collection">
            <h2>Data Collection</h2>
            <div class="data-collection-row" (click)="onToggleDataCollection()">
                <a (click)="openDataCollectionDialog($event)">User Data Collection:</a>
                <switch-button [active]='dataCollectionActive'></switch-button>
            </div>
        </section>
        <section class="hints">
            <h2>Hints</h2>
            <div class="hints-row" (click)="onToggleHintAssistance()">
                <span>Hint Assistance:</span>
                <two-state-icon-button class="notification-checkbox" activeIcon="assets/button-icons/check-on.svg"
                    inactiveIcon="assets/button-icons/check-off.svg" [active]="hintAssistanceActive">
                </two-state-icon-button>
            </div>
        </section>
    </div>
</div>