.workspace-configuration-container {
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin-left: 8px;
  border-left: 1px solid #000;
  background-color: #222829;
  height: 100%;

  border-top-right-radius: 8px;

  header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #000;
    padding: 8px 0px;
    border-top-right-radius: 8px;

    h5 {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      margin-left: 8px;

      user-select: none;
    }

    action-button {
      margin-left: auto;
      margin-right: 4px;
    }
  }

  .workspace-info {
    margin-left: 8px;
    gap: 16px;

    display: flex;
    flex-direction: column;

    flex: 1;
    // height: 100%;

    .workspace-field {
      display: flex;
      flex-direction: column;
      margin-right: 8px;

      gap: 4px;

      .field-label {
        color: #bcbcbc;
        font-feature-settings:
          "clig" off,
          "liga" off;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }

      .name-line {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 4px;

        .text-field {
          width: 100%;
        }
      }

      .text-field {
        background-color: #293137;

        border: none;
        padding: 8px;
      }

      textarea {
        // resize: vertical;
        max-height: calc((100vh - 278px) / 2);
      }

      .description-field {
        overflow-y: auto;
      }

      .markdown-container {
        .description-field {
          display: flex;
          flex-direction: column;
          height: calc((100vh - 438px) / 2);
          border-radius: 4px;
        }
      }
    }

    .description-field {
      flex: 1;
    }
  }

  .tabs-container {
    flex: 1;

    padding: 0 8px;
    overflow-y: auto;

    .user-tabs {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .tab {
        display: flex;
        align-items: center;

        &.active {
          .tab-info {
            background: #454c50;
          }
        }

        .tab-info {
          display: flex;
          align-items: center;

          background: #293137;
          flex: 1;
          padding: 8px;
          gap: 8px;

          .tab-label {
            display: flex;
            flex: 1;

            .view-label {
            }

            .edit-label {
              width: 100%;
            }
          }

          .edit-btns {
            display: flex;
            align-items: center;
          }

          action-button:first-of-type {
            margin-left: auto;
          }
        }

        .delete-tab {
          margin-left: 4px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    gap: 8px;

    .save-btn {
    }
  }
}

.search-container {
  position: sticky;
  top: 0;
  z-index: 10;

  .scan-search {
    width: calc(100% - 6px);
    min-width: 258px;
    height: 24px;
    border-radius: 0;
  }
}

.share-btn {
  .share-btn-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 8px;
  }
}

.snapshots-container {
  padding: 0 8px;

  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .existing-snapshots {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;

    overflow-y: auto;

    .snapshot {
      display: flex;
      flex-direction: column;
      background: #293137;
      border-radius: 4px;
    }

    .snapshot-info-container {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 8px;
      padding-bottom: 4px;
      gap: 8px;

      .existing-share-btn {
        img {
        }
      }

      .snapshot-info {
        display: flex;
        flex: 1;

        flex-direction: column;

        .snapshot-name {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
          white-space: nowrap;
        }

        .snapshot-date {
          color: #bcbcbc;
        }
      }
    }
  }
}

.configuration-tabs {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;

  .tab {
    cursor: pointer;

    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid transparent;

    color: #bcbcbc;
    &.active {
      color: #fff;
      border-bottom: 1px solid #fdfe91;
    }

    font-feature-settings:
      "clig" off,
      "liga" off;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 4px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

  display: flex;
  align-items: center;

  .tab-info {
    display: flex;
    align-items: center;

    background: #293137;
    flex: 1;
    padding: 8px;
    gap: 8px;

    .tab-label {
      display: flex;
      flex: 1;

      .view-label {
      }

      .edit-label {
        width: 100%;
      }
    }

    .edit-btns {
      display: flex;
      align-items: center;
    }

    action-button:first-of-type {
      margin-left: auto;
    }
  }

  .delete-tab {
    margin-left: 4px;
  }
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tab-icon {
  cursor: grab;
}

.drag-icon {
  cursor: grab;
}

.reviewer-link-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;

  background-color: #444c50;
  border: 1px solid #545f64;
  border-radius: 4px;

  padding: 0 4px;
  width: 255px;
  margin: auto;
  margin-bottom: 4px;

  .reviewer-link {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
  }
  action-button {
    margin-left: auto;
  }
}

img.disabled {
  filter: brightness(0.5);
}
