.expression-container {
  display: flex;
  flex-direction: column;
  // background-color: rgb(var(--clr-gray-70));
  background: #293137;
  // border-bottom: 1px solid rgb(var(--clr-gray-80));
  border-bottom: 1px solid #545f64;

  &.selected {
    background-color: rgb(var(--clr-gray-70));
  }

  margin: 1px;
  &.triggered {
    outline: 1px solid #ffb800;
  }

  .summary {
    display: flex;
    padding: 8px 16px;
    align-items: center;

    .creator {
      margin-right: 8px;
      border-radius: 6px;
      display: flex;

      &.filterable:hover {
        outline: 2px solid yellow;
        cursor: pointer;
      }

      img {
        width: 28px;
        border-radius: 4px;
      }

      .name-abbreviation {
        width: 28px;
        border-radius: 4px;
        height: 28px;

        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--clr-gray-60));
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      h4,
      p {
        margin: 0;
      }

      .details-line {
        display: flex;
        font-size: 12px;

        .date {
          color: rgb(var(--clr-gray-50));
          margin-right: 4px;
        }

        .description {
          color: rgb(var(--clr-gray-40));
        }
      }
    }

    .current-shape {
      margin-left: 8px;
    }

    .buttons {
      display: flex;
      margin-left: auto;

      .show-details-btn {
        margin-left: 0;
      }

      & > * {
        margin-left: 8px;
      }

      tag-picker {
        z-index: 10;
      }
    }

    .more-btn {
      margin-left: 4px;
    }

    widget-settings-menu {
      .more-btn {
        display: flex;
      }
    }
  }
}

.lock-icon {
  img {
    width: 12px;
  }
}

.widget-selection-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;

  .active-config {
    width: 100%;

    mat-select {
      width: calc(100% - 30px) !important;
      margin-bottom: 4px;
    }
  }

  multi-switch-button {
    width: calc(100% - 16px);
  }
}

.layer-options-menu {
  margin: -8px;
  width: 200px;

  .option {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 8px;
    cursor: pointer;

    .option-label {
      margin-left: 4px;
    }

    img,
    tag-picker {
      margin-right: 4px;
    }

    &:hover {
      background-color: rgb(var(--clr-gray-70));
    }
  }
}
