@import "variables.scss";
@import "atoms.scss";

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sz-unit;

    .label {
        font-size: 14px;
        font-weight: normal;
        color: $clr-gray-30;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $sz-unit;
    }
}

.err-display {
    position: absolute;
    top: $sz-double;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $clr-gray-90;
    border-radius: $sz-unit;
    color: $clr-gray-30;
    padding: $sz-unit;
    margin: $sz-unit;
}
