<ng-template #settingsMenu>
  <div class="widget-settings-menu">
    <div class="row above-title slider-container-row">
      <div class="row-title">
        <span class="option-title">Image Brightness</span>
        <span class="option-value">
          <input
            type="number"
            [ngModel]="brightness | number: '1.1-1'"
            (ngModelChange)="onBrightnessInputChange($event)"
            [min]="0"
            [max]="10"
            step="0.1"
            class="slider-input" />
        </span>
      </div>
      <div class="slider-container">
        <slider title="Brightness" [value]="brightness" [minValue]="0" [maxValue]="10" [pxLength]="180" (onChange)="onChangeBrightness($event)"> </slider>
      </div>
    </div>
    <div class="row selection-container">
      <div class="row-title">Actions</div>
      <div class="action-container">
        <div
          class="reset-btn"
          (click)="onResetBrightness()"
          (keyup)="onResetBrightness()"
          (keydown)="onResetBrightness()"
          (keypress)="onResetBrightness()"
          tabindex="0">
          Reset
        </div>
      </div>
    </div>
  </div>
</ng-template>

<interactive-canvas [ngClass]="cursorShown" [drawer]="drawer" [drawNotifier]="mdl" [interactionHandler]="interactionHandler" [transform]="transform">
</interactive-canvas>
