<div class="flex-row community" id="discussion">
    <div class="flex-row flex-center-center left">
        <div class="flex-column">
            <h3 class="heading">Join the <span class="red">discussion.</span></h3>
            <p>As a geoscientist, you can request an account that will give you access to more PIXLISE features, as well as a global community of researchers. We want to hear from you!</p>
        </div>
    </div>
    <div class="flex-row flex-center-center right">
        <number-button theLabel="Request scientist access" link="signup:/about" colourStyle="red-shadow" [showArrow]="true" [showArrowSeparator]="true"></number-button>
    </div>
</div>