@import "variables.scss";
@import "atoms.scss";

/* Resulted in canvas getting a width of 0px
:host {
  display: flex;
  height: 100%;
}*/

interactive-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

.error-message {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $sz-unit;
  background-color: $clr-gray-80;
  color: $clr-gray-30;
  font-weight: bold;
  font-size: 16px;
  max-width: 300px;
  padding: $sz-unit;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    color: $clr-gray-30;
    font-weight: bold;
    text-align: center;
    margin: $sz-double 0px $sz-unit 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $sz-unit;
  }
}
