<div class="range-select-dialog">
  <section class="title-bar">
    <h2 cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Range Select</h2>
  </section>
  <section class="range-container">
    <div class="range-value">
      <span class="range-label">Min</span>
      <input [min]="minBound" [max]="maxRange" step="1" type="number" [(ngModel)]="minRange" />
      <span class="range-units">keV</span>
    </div>
    <div class="range-value">
      <span class="range-label">Max</span>
      <input [min]="minRange" [max]="maxBound" step="1" type="number" [(ngModel)]="maxRange" />
      <span class="range-units">keV</span>
    </div>
  </section>
  <div class="bottom-buttons">
    <push-button buttonStyle="outline" title="Close window" (onClick)="onCopy()">Copy</push-button>
    <push-button buttonStyle="outline" title="Close window" (onClick)="onClose()">Close</push-button>
  </div>
</div>
