@import "variables.scss";
@import "atoms.scss";

.error-overlay {
    bottom: 10%;
    max-width: 500px;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    word-break: break-all;

    //display: block;
    z-index: 1;
    position: absolute;
    border-radius: $sz-unit;

    background: $clr-gray-90;
    margin: $sz-unit;
    padding: $sz-unit;
    color: $clr-orange;
}