.widget {
  height: calc(100% - 2px);
  background-color: rgb(var(--clr-gray-80));
  border: 1px solid #444c50;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &.highlight {
    border: 1px solid #ffb800;
  }

  &.targeted {
    border: 1px solid #ffb800;
  }

  header {
    background-color: rgb(var(--clr-gray-80));
    height: 40px;
    width: 100%;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    display: flex;
    align-items: center;

    .widget-title {
      display: flex;
      white-space: pre;
      margin-left: 8px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 16px;
      color: rgb(190, 192, 194);
    }

    .buttons {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-right: 6px;

      .top-toolbar {
        display: flex;
        margin-right: 4px;
        gap: 4px;

        &.hidden {
          display: none;
        }
      }
    }
  }

  .visualization {
    background-color: black;
    border-radius: 0 0 8px 8px;

    &.export-mode {
      border-radius: 8px;
    }

    width: 100%;
    flex: 1;
    position: relative;

    .loading-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background: rgb(0 0 0 / 50%);
    }

    &.hide-overflow {
      overflow: hidden;
    }

    .inset-button {
      position: absolute;
      z-index: 10;

      &.top-left {
        top: 4px;
        left: 4px;
      }

      &.top-center {
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
      }

      &.top-right {
        top: 4px;
        right: 4px;
      }

      &.bottom-left {
        bottom: 4px;
        left: 4px;
      }

      &.bottom-right {
        bottom: 4px;
        right: 4px;
      }
    }
  }
}

.menu-btn-container {
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  width: 20%;

  &.overflowed {
    display: none;
  }
}

.bottom-toolbar {
  display: flex;
  align-items: center;
  background-color: #1b1d1e;
  height: 40px;
  gap: 4px;

  width: calc(100% - 8px);
  padding-right: 4px;
  padding-left: 4px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  &.hidden {
    display: none;
  }
}

.settings-button-container {
  display: flex;
  align-items: center;
  gap: 0px;

  icon-button:first-of-type {
    margin-right: -8px;
  }
}
