@import "@fontsource/inter";
@import "@fontsource/pt-mono";
@import "@fontsource/roboto";
@import "@fontsource/source-sans-pro";
@import "@fontsource/titillium-web";

// After seeing lots of 404's for roboto-latin-400.woff or whatever, these seem
// to have fixed it?? No, they haven't, maybe it's just an issue with angular
// live reloading local debug server
// @import "@fontsource/inter/400.css";
// @import "@fontsource/roboto/400.css";

.app-container {
  display: flex;
  position: relative;

  main {
    flex: 1;
  }

  aside {
    position: absolute;
    top: 40px;
    right: 8px;
  }
}
