@import "@fontsource/inter";
@import "@fontsource/pt-mono";
@import "@fontsource/roboto";
@import "@fontsource/source-sans-pro";
@import "@fontsource/titillium-web";

.app-container {
  display: flex;
  position: relative;

  main {
    flex: 1;
  }

  aside {
    position: absolute;
    top: 40px;
    right: 8px;
  }
}
