.row {
    display: flex;
    direction: row;
    gap: 8px;
}

.new-color {
    display: flex;
    align-items: center;
    width: 36px;
    margin-left: 16px;
    cursor: pointer;
  
    .custom-color-container {
      display: flex;
      align-items: center;
  
      margin: -8px;
  
      .color-option {
        position: relative;
  
        roi-shape {
          z-index: 1;
        }
  
        .active-color {
          z-index: 2;
        }
  
        .color-wheel {
          position: absolute;
          width: 28px;
        }
      }
    }
  }
  

.roi-color-picker {
    h2 {
      font-size: 12px;
      margin-left: 8px;
      line-height: 12px;
      margin-right: 8px;
      margin-bottom: 8px;
  
      &.additional-colors {
        margin-top: 16px;
      }
    }
  
    .color-container {
      display: flex;
      flex-wrap: wrap;
  
      .color-option {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
  
        &.selected {
          border-radius: 50%;
        }
  
        .active-color {
          position: absolute;
          left: calc(50% - 4px);
          top: calc(50% - 4px);
  
          background-color: white;
  
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }
  
    .color-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  
      mat-radio-button {
        height: 30px;
        margin-right: 8px;
      }
    }
  
    .bottom-buttons {
      margin-top: 16px;
    }
  }
  
  .roi-shape-picker {
    h2 {
      font-size: 12px;
      margin-left: 8px;
      line-height: 12px;
    }
  
    .shape-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  
      mat-radio-button {
        margin-right: 8px;
      }
    }
  
    .bottom-buttons {
      margin-top: 8px;
    }
  }
  