<div class="section">
    <number-button [params]="params.navButtonParams"></number-button>
    <div class="flex-row container">
        <div class="flex-column text-container" [ngClass]="{'narrowbox': params.headingLarge}">
            <h2 *ngIf="params.headingLarge"><text-with-highlights [parts]="params.headingParts" styleMain="" styleAlternate="red"></text-with-highlights></h2>
            <h3 *ngIf="!params.headingLarge"><text-with-highlights [parts]="params.headingParts" styleMain="" styleAlternate="red"></text-with-highlights></h3>
            <ng-container *ngIf="params.listTitle && params.listItems.length > 1">
                <div class="list-heading">{{params.listTitle}}</div>
                <ul>
                    <li
                        *ngFor="let item of params.listItems"
                        [ngClass]="{'active': item.listLabel == activeItem?.listLabel}"
                        (click)="onClickListItem(item)"
                        >{{item.listLabel}}</li>
                </ul>
            </ng-container>
            <ng-container *ngIf="activeItem">
                <h4><text-with-highlights [parts]="activeItem.headingParts" styleMain="" styleAlternate="bold"></text-with-highlights></h4>
                <p><text-with-highlights [parts]="activeItem.descriptionParts" styleMain="" styleAlternate="bold"></text-with-highlights></p>
            </ng-container>
        </div>
        <div *ngIf="activeItem" class="img-container">
            <img *ngIf="activeItem.imageLinkForeground" class="img-foreground" [src]="activeItem.imageLinkForeground">
            <img *ngIf="activeItem.imageLinkBackground" class="img-background" [src]="activeItem.imageLinkBackground">
        </div>
    </div>
</div>