@import '../../../scss/public-site.scss';

.section {
    padding: $sz-border-y 0px $sz-border-y $sz-border-x;

    .container {
        //white-space: nowrap;
        //align-items: center;
        justify-content: space-between;

        .text-container {
            width: 550px;
            display: inline-block;
            white-space: normal;
        }

        .narrowbox {
            width: 440px;
        }

        p {
            color: $clr-gray-20;
        }

        img {
            position: absolute;
        }

        .img-vcenter {
            justify-content: space-around;
            align-items: flex-end;

            .img-foreground {
                z-index: 2;
                max-width: 1124px;
            }
            .img-background {
                position: relative;
                z-index: 1;
                right: 380px;
                top: -160px;
            }
        }

        h3 {
            padding-top: $sz-heading-gap;
            padding-bottom: $sz-subheading-gap;
        }

        h4 {
            padding-top: $sz-spacer-gap;
        }

        li {
            padding: $sz-half $sz-unit;
            cursor: pointer;
        }

        .active {
            border-radius: $sz-double;
            background-color: $clr-gray-80;
        }
    }
}