<div class="section">
    <number-button [theNumber]="params.navButtonNumber" [theLabel]="params.navButtonLabel" colourStyle="red"></number-button>
    <div class="flex-row container">
        <div class="flex-column text-container">
            <h2 *ngIf="params.headingLarge"><text-with-highlights [parts]="params.headingParts" styleMain="" styleAlternate="red"></text-with-highlights></h2>
            <h3 *ngIf="!params.headingLarge"><text-with-highlights [parts]="params.headingParts" styleMain="" styleAlternate="red"></text-with-highlights></h3>
            <ng-container *ngIf="params.listTitle && params.listItems.length > 0">
                <div class="caption yellow">{{params.listTitle}}</div>
                <ul>
                    <li *ngFor="let item of params.listItems">{{item}}</li>
                </ul>
            </ng-container>
            <h4>{{params.subHeading}}</h4>
            <p><text-with-highlights [parts]="params.descriptionParts" styleMain="" styleAlternate="bold"></text-with-highlights></p>
        </div>
        <div class="img-container">
            <img class="img-foreground" [src]="params.imageLinkForeground">
            <img class="img-background" [src]="params.imageLinkBackground">
        </div>
    </div>
</div>