<div class="settings-container">
    <!-- TODO: <notification-banner></notification-banner> -->
    <!-- <app-toolbar titleToShow="Groups"></app-toolbar> -->

    <div class="user-groups">
        <div class="user-info">
            <user-icon size="26px"></user-icon>
            <h3 class="name">{{name}}</h3>
            <icon-button type="notification" [hasBackground]="false" [notificationCount]="50"></icon-button>
        </div>
        <div class="groups my-groups">
            <div class="header">
                <h2>My Groups</h2>
            </div>
            <div class="content-container request">
                <input type="text" matInput [formControl]="requestGroupControl" [matAutocomplete]="auto"
                    class="request-group-input" placeholder="Request to Join a Group ...">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="requestGroupDisplayName">
                    <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                        {{group?.name}}
                    </mat-option>
                </mat-autocomplete>
                <div class="request-submit">
                    <action-button color="#BCBCBC" action="add" tooltipTitle="Request Access"
                        [disabled]="!selectedGroupToJoin" (onClick)="onRequestGroupAccess()"></action-button>
                </div>
            </div>
        </div>
        <div class="groups admin-groups">
            <div class="header">
                <h2>Admin</h2>
                <img src="assets/icons/admin-badge.svg">
            </div>
            <div class="content-container">
                <div (click)="onSelectGroup(group)" *ngFor="let group of groupsWithAdminAccess" class="group-row">
                    <h5>{{group.name}}</h5>
                    <action-button color="#BCBCBC" *ngIf="canDeleteGroup" action="close" [disabled]="!group"
                        confirmText="Are you sure you want to delete this group?" tooltipTitle="Delete"
                        (onClick)="onDeleteGroup(group)"></action-button>
                </div>
                <div *ngIf="groupsWithAdminAccess.length === 0" class="group-row empty">
                    <h5>None</h5>
                </div>
            </div>
        </div>
        <div class="groups member-groups">
            <div class="header">
                <h2>Member</h2>
                <img src="assets/icons/member-badge.svg">
            </div>
            <div class="content-container">
                <div (click)="onSelectGroup(group)" *ngFor="let group of groupsWithMemberAccess" class="group-row">
                    <h5>{{group.name}}</h5>
                    <action-button color="#BCBCBC" *ngIf="canDeleteGroup" action="close" [disabled]="!group"
                        confirmText="Are you sure you want to delete this group?" tooltipTitle="Delete"
                        (onClick)="onDeleteGroup(group)"></action-button>
                </div>
                <div *ngIf="groupsWithMemberAccess.length === 0" class="group-row empty">
                    <h5>None</h5>
                </div>
            </div>
        </div>
        <div class="groups viewer-groups">
            <div class="header">
                <h2>Viewer</h2>
                <img src="assets/icons/viewer-badge.svg">
            </div>
            <div class="content-container">
                <div (click)="onSelectGroup(group)" *ngFor="let group of groupsWithViewerAccess" class="group-row">
                    <h5>{{group.name}}</h5>
                    <action-button color="#BCBCBC" *ngIf="canDeleteGroup" action="close" [disabled]="!group"
                        confirmText="Are you sure you want to delete this group?" tooltipTitle="Delete"
                        (onClick)="onDeleteGroup(group)"></action-button>
                </div>
                <div *ngIf="groupsWithViewerAccess.length === 0" class="group-row empty">
                    <h5>None</h5>
                </div>
            </div>
        </div>
        <div class="new-group">
            <action-button color="#BCBCBC" action="add" tooltipTitle="Create new group"
                (onClick)="onOpenCreateNewGroupDialog()"></action-button>
        </div>
    </div>
    <div class="group-container">
        <div *ngIf="selectedGroup" class="selected-group">
            <div class="group-header">
                <h1>{{selectedGroup.info?.name}}</h1>
                <action-button action="add" [disabled]="!selectedGroup" tooltipTitle="Add User"
                    (onClick)="onAddUserToGroup(selectedGroup.info!.id)"></action-button>
            </div>
            <div *ngFor="let group of selectedGroupSubGroups">
                <h3>{{group.name}}</h3>
            </div>
            <div *ngFor="let user of selectedGroupMembers" class="user-card">
                <div class="icon">
                    <img *ngIf="user.iconURL" src="{{user.iconURL}}">
                    <img *ngIf="!user.iconURL" src="assets/icons/default-user-icon.svg">
                </div>
                <div class="details">
                    <span class="info">
                        <span class="label">Name</span>
                        <h3>{{user.name}}</h3>
                    </span>
                    <span class="info">
                        <span class="label">Email</span>
                        <h3>{{user.email}}</h3>
                    </span>
                </div>
                <div class="actions">
                    <action-button action="close" [disabled]="!user" tooltipTitle="Remove"
                        (onClick)="onRemoveMemberFromGroup(user.id)"></action-button>
                </div>
            </div>
        </div>
        <div *ngIf="!canAccessSelectedGroup && selectedGroupInfo" class="no-group-access">
            <push-button (onClick)="onRequestAccessToGroup(selectedGroupInfo, false)">Request Viewer
                Access</push-button>
            <push-button (onClick)="onRequestAccessToGroup(selectedGroupInfo, true)">Request Member
                Access</push-button>
        </div>
    </div>

    <div *ngIf="isSelectedGroupAdmin" class="requested-access">
        Requests
        <div *ngFor="let request of selectedGroupAccessRequests" class="access-request">
            {{request.userId}}
            <push-button (onClick)="onGrantAccessToGroup(request)">Grant
                Access</push-button>
            <push-button (onClick)="onDismissAccessRequest(request)">Dismiss</push-button>
        </div>
    </div>
</div>