@import 'variables.scss';

:host {
  display: flex;
  height: 100%;
}

interactive-canvas {
  width: 100%;
  height: 100%;
  flex: 1;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scale-buttons {
    display: flex;
    justify-content: center;

    two-state-push-button:first-of-type {
      margin-right: 8px;
    }
  }

  switch-button {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 8px;
  }
}

.no-backdrop {
}

.single-select-pmc-display {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  color: $clr-context-blue;
}
