<ng-template #settingsMenu>
  <div class="widget-settings-menu">
    <div
      class="row link {{ resizeSpectraY ? 'active' : '' }}"
      (click)="onToggleResizeSpectraY()"
      (keyup)="onToggleResizeSpectraY()"
      (keydown)="onToggleResizeSpectraY()"
      (keypress)="onToggleResizeSpectraY()"
      tabindex="0">
      <div class="row-title">Enable Resize</div>
      <action-button class="switch" [action]="resizeSpectraY ? 'checkOn' : 'checkOff'"></action-button>
    </div>
    <div
      class="row link {{ yAxislogScale ? 'active' : '' }}"
      (click)="onToggleYAxislogScale()"
      (keyup)="onToggleYAxislogScale()"
      (keydown)="onToggleYAxislogScale()"
      (keypress)="onToggleYAxislogScale()"
      tabindex="0">
      <div class="row-title">Use Log Scale</div>
      <action-button class="switch" [action]="yAxislogScale ? 'checkOn' : 'checkOff'"></action-button>
    </div>
    <div
      class="row link {{ countsPerMin ? 'active' : '' }}"
      (click)="onToggleCountsPerMin()"
      (keyup)="onToggleCountsPerMin()"
      (keydown)="onToggleCountsPerMin()"
      (keypress)="onToggleCountsPerMin()"
      tabindex="0">
      <div class="row-title">Normalise Counts/min</div>
      <action-button class="switch" [action]="countsPerMin ? 'checkOn' : 'checkOff'"></action-button>
    </div>
    <div
      class="row link {{ countsPerPMC ? 'active' : '' }}"
      (click)="onToggleCountsPerPMC()"
      (keyup)="onToggleCountsPerPMC()"
      (keydown)="onToggleCountsPerPMC()"
      (keypress)="onToggleCountsPerPMC()"
      tabindex="0">
      <div class="row-title">Normalise Counts/PMC</div>
      <action-button class="switch" [action]="countsPerPMC ? 'checkOn' : 'checkOff'"></action-button>
    </div>
  </div>
</ng-template>

<interactive-canvas [ngClass]="toolhost.cursor" [drawer]="drawer" [drawNotifier]="mdl" [interactionHandler]="interactionHandler" [transform]="transform">
</interactive-canvas>
