.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scale-buttons {
    display: flex;
    justify-content: center;

    two-state-push-button:first-of-type {
      margin-right: 8px;
    }
  }

  switch-button {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 8px;
  }
}
