<div class="search-list {{ isNonDefaultSelected ? 'non-default' : '' }}">
  <div
    class="search-btn"
    [matMenuTriggerFor]="menu"
    (onMenuOpen)="onItemSearchMenu()"
    [ngStyle]="{ color: selectedItem?.color || '#fff' }"
  >
    @if (selectedItem?.icon) {
      <img class="selected-icon" [src]="selectedItem?.icon" />
    }
    <span
      #tooltip="matTooltip"
      [matTooltip]="selectedItem?.name || value || placeholder"
      [matTooltipShowDelay]="500"
      [matTooltipDisabled]="
        !selectedItem || (selectedItem?.name?.length || 0) < 30
      "
      class="title-container {{ selectedItem?.default ? 'default' : '' }}"
      >{{ selectedItem ? selectedItem.name : value || placeholder }}</span
    >
    <action-button class="dropdown-btn" action="closeAccordion"></action-button>
  </div>
  <mat-menu #menu="matMenu" class="search-menu">
    <div class="search-container">
      <input
        class="item-search"
        [placeholder]="placeholder"
        [(ngModel)]="searchText"
        (click)="onAddItemSearchClick($event)"
        autofocus
      />
    </div>
    <div class="options-container">
      @for (item of addItemList; track item) {
        <button
          mat-menu-item
          [disabled]="disabledValues.includes(item.id)"
          (click)="onInternalSelect(item)"
          class="item {{ item.id === selectedItem?.id ? 'selected' : '' }}"
        >
          <div
            class="option-container"
            [ngStyle]="{ color: item.color || '#fff' }"
          >
            @if (item?.icon) {
              <img class="selected-icon" [src]="item?.icon" />
            }
            <span
              class="title-container {{ item?.default ? 'default' : '' }}"
              >{{ item.name }}</span
            >
            @if (item.rightIcon) {
              <img class="right-icon" [src]="item.rightIcon" />
            }
            @if (item.rightText) {
              <span class="right-text">{{ item.rightText }}</span>
            }
          </div>
        </button>
      }
    </div>
  </mat-menu>
</div>
