.button {
  display: flex;
  height: 100%;
  align-items: center;

  &.overflowed {
    display: none;
  }
}

.btn-container {
  // margin-right: 4px;

  &.overflowed {
    display: none;
  }

  .selectable-button {
    &.active {
      border: 1px solid rgb(var(--clr-gray-90));
    }
  }

  // &:first-of-type {
  //   margin-left: 6px;
  // }
}

.status-icon {
  margin-left: 4px;
}

multi-switch-button {
  white-space: pre;

  display: flex;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: rgb(var(--clr-gray-70));
  margin: 0 2px;
}

.toolbar-button-active {
  background-color: rgb(var(--clr-gray-80));
  border-bottom: 1px solid #feff91;
  padding-top: 9px;
  padding-bottom: 8px;
}

.toolbar-button-selectable {
  padding-left: 4px;
  padding-right: 4px;
}
