<ng-template #settingsMenu>
  <div class="widget-settings-menu">
    <!-- <div
      class="row link {{ showMmol ? 'active' : '' }}"
      (click)="setShowMmol()"
      (keyup)="setShowMmol()"
      (keydown)="setShowMmol()"
      (keypress)="setShowMmol()"
      tabindex="0">
      <div class="row-title">Show results in mmol vs weight %</div>
      <action-button class="switch" [action]="showMmol ? 'checkOn' : 'checkOff'"></action-button>
    </div> -->
    <div class="row above-title">
      <div class="row-title">Display</div>
      <multi-switch-button
        class="display-mode-btn"
        [options]="displayModeOptions"
        [value]="displayMode"
        (onChange)="toggleShowMmol()"
        [darkMode]="true"></multi-switch-button>
    </div>
    <div class="row selection-mode-btn above-title">
      <div class="row-title">Selection Mode</div>
      <multi-switch-button
        [options]="selectionModes"
        [optionIcons]="['assets/button-icons/minus.svg', 'assets/button-icons/reset.svg', 'assets/button-icons/plus.svg']"
        [value]="currentSelectionMode"
        [showLabels]="false"
        (onChange)="onChangeSelectionMode($event)"
        [colorizeActiveIcon]="true"
        [darkMode]="true"></multi-switch-button>
    </div>
    <!-- <div
      class="row link {{ selectModeExcludeROI ? 'active' : '' }}"
      (click)="onToggleSelectModeExcludeROI()"
      (keyup)="onToggleSelectModeExcludeROI()"
      (keydown)="onToggleSelectModeExcludeROI()"
      (keypress)="onToggleSelectModeExcludeROI()"
      tabindex="0">
      <div class="row-title">Exclude Lasso: will not select points that are in an ROI</div>
      <action-button class="switch" [action]="selectModeExcludeROI ? 'checkOn' : 'checkOff'"></action-button>
    </div> -->
  </div>
</ng-template>

<interactive-canvas [ngClass]="mdl.cursorShown" [drawer]="drawer" [drawNotifier]="mdl" [interactionHandler]="interactionHandler" [transform]="transform">
</interactive-canvas>

<scatter-plot-axis-switcher
  *ngIf="!_exportMode"
  [readonly]="_exportMode"
  [fontSize]="axisLabelFontSize"
  class="top-switcher"
  [info]="topAxisSwitcher"
  (click)="onCornerClick('C')">
</scatter-plot-axis-switcher>
<scatter-plot-axis-switcher
  *ngIf="!_exportMode"
  [readonly]="_exportMode"
  [fontSize]="axisLabelFontSize"
  class="bottom-left-switcher"
  [info]="bottomLeftAxisSwitcher"
  (click)="onCornerClick('A')">
</scatter-plot-axis-switcher>
<scatter-plot-axis-switcher
  *ngIf="!_exportMode"
  [readonly]="_exportMode"
  [fontSize]="axisLabelFontSize"
  class="bottom-right-switcher"
  [info]="bottomRightAxisSwitcher"
  (click)="onCornerClick('B')">
</scatter-plot-axis-switcher>
