@import "variables.scss";
@import "atoms.scss";

:host {
  display: flex;
  height: 100%;
}

.settings {
  multi-state-button {
    display: flex;
    justify-content: center;
  }
}

interactive-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

.top-switcher {
  position: absolute;
  top: $sz-qtr;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom-left-switcher {
  position: absolute;
  bottom: $sz-qtr;
  left: 40px;
}

.bottom-right-switcher {
  position: absolute;
  bottom: $sz-qtr;
  right: 40px;
}

.selection-mode-btn {
  width: calc(100% - 24px);
  multi-switch-button {
    width: 100%;
  }
}

.display-mode-btn {
  width: 100%;
  multi-switch-button {
    width: 100%;
  }
}

.above-title {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .row-title {
    margin-right: auto;
  }
}

.widget-settings-menu {
  width: 200px;
}
