<div class="flex-row nav">
    <div><a href="/"><img src="assets/images/pixlise-white-logo.svg"></a></div>
    <div class="flex-row links">
        <div
            *ngFor="let navGroup of navigation.categories"
            (click)="onClickNav(navGroup)">
            <div class="clickable nav-item" [ngClass]="{'active': isActiveNav(navGroup)}">
                {{navGroup}}
                <img [src]="isActiveNav(navGroup) ? 'assets/images/arrow-down.svg': 'assets/images/arrow-down-nav.svg'"></div>
            <div *ngIf="isMenuOpen(navGroup)" class="flex-column nav-menu">
                <a
                    *ngFor="let item of navigation.getItems(navGroup)"
                    class="clickable nav-item"
                    [href]="item.link">{{item.label}}</a>
            </div>
        </div>
    </div>
    <div class="flex-row buttons">
        <number-button [link]="loginLink" colourStyle="red-solid" theLabel="Log In" [showArrow]="false"></number-button>
        <number-button [link]="signupLink" colourStyle="white-solid" theLabel="Try Pixlise" [showArrow]="true" [showArrowSeparator]="true"></number-button>
    </div>
</div>