<div class="custom-select-picker">
  @for (section of selectionOptions; track section) {
    <div class="option-section">
      <h2>{{ section.title }}</h2>
      @for (option of section.options; track option) {
        <span class="checkbox-group">
          <two-state-icon-button
            activeIcon="assets/button-icons/check-on.svg"
            inactiveIcon="assets/button-icons/check-off.svg"
            class="checkbox-button"
            [active]="selectedOptions.includes(option.value)"
            (onToggle)="onToggleSelection(option.value)"
          >
          </two-state-icon-button>
          <span>{{ option.title }}</span>
        </span>
      }
    </div>
  }
  <div class="bottom-buttons">
    <push-button
      buttonStyle="outline"
      title="Clear Selection"
      (onClick)="onClearSelection()"
      >Clear</push-button
    >
    <push-button
      buttonStyle="outline"
      title="Close window"
      (onClick)="onClose()"
      >Close</push-button
    >
  </div>
</div>
