@import "variables.scss";
@import "atoms.scss";

.axis-switcher {
  max-width: 95px;

  padding: $sz-qtr $sz-double;
  border-radius: $sz-half;
  background-color: $clr-gray-100;
  color: $clr-gray-30;

  display: flex;
  flex-direction: row;

  cursor: pointer;

  &:hover {
    background-color: $clr-gray-90;
  }

  img {
    height: 12px;
    margin: $sz-qtr $sz-half;
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: pre;
  }
}
.axis-switcher-vertical {
  transform: translateX(-40%) rotate(-90deg);
}
