@import '../../../scss/public-site.scss';

.page {
    .chill {
        background-color: $clr-gray-90;
    }
    .piquant {
        background-color: $clr-gray-100;

        p {
            padding-top: 0px;
            padding-bottom: $sz-button-gap;
        }

        .more-piquant {
            justify-content: center;

            border-left: $clr-gray-70 1px solid;
            padding-left: $sz-paragraph-gap;
            width: 400px;
        }
    }
    .stat1 {
        justify-content: flex-end;
        background-color: $clr-gray-90;
        color: $clr-yellow;
        border-bottom: $clr-yellow 1px solid;
    }
    .stat2 {
        justify-content: flex-start;
        background-color: $clr-gray-100;
        color: $clr-gray-10;
        border-bottom: $clr-gray-40 1px solid;
    }
    .stat3 {
        justify-content: space-around;
        background-color: #151515;
        color: $clr-red;
        border-bottom: $clr-red 1px solid;
    }
    .stat4 {
        background-color: $clr-gray-100;
        height: 158px;
    }
    .industry {
        background-color: $clr-gray-70;

        h3 {
            padding-bottom: $sz-spacer-gap;
        }
    }
    .quote {
        background-color: $clr-gray-90;
    }

    .section-small {
        padding: $sz-double $sz-border-x 0px $sz-border-x;
    }

    h3 {
        padding-top: $sz-heading-gap;
        padding-bottom: $sz-subheading-gap;
    }
}