<div class="quote-section">
    <div class="quote-container">
        <div class="text-quote">“<text-with-highlights [parts]="quoteParts" styleMain="" styleAlternate="yellow"></text-with-highlights>”</div>
        <div class="text-quote-origin-bold">- {{quotePerson}} <span class="red text-quote-origin">{{quotePersonTitle}}</span></div>
    </div>
    <div class="flex-column link">
        <number-button [theLabel]="linkLabel" [link]="link" colourStyle="gray-no-border" [showArrow]="true"></number-button>
    </div>
</div>