.analysis-container {
  display: flex;
  padding-right: 8px;

  position: relative;

  analysis-sidepanel {
    position: absolute;
    z-index: 100;
  }

  .widgets-container {
    display: grid;
    grid-gap: 8px;

    width: calc(100vw - 42px - 16px);
    min-width: calc(100vw - 42px - 16px);
    height: calc(100vh - 42px - 16px);

    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px dashed #545f64;

    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
}

.screen-container {
  max-width: calc(100vw - 42px - 16px);
  margin-left: 48px;

  overflow: scroll;
  overflow-y: hidden;

  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }
}
